Source: ros-kinetic-track-annotation-tool
Section: misc
Priority: extra
Maintainer: Timm Linder <linder@cs.uni-freiburg.de>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-roslib, ros-kinetic-rviz, ros-kinetic-spencer-human-attribute-msgs, ros-kinetic-spencer-tracking-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-track-annotation-tool
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-roslib, ros-kinetic-rqt-gui, ros-kinetic-rqt-gui-py, ros-kinetic-rviz, ros-kinetic-spencer-human-attribute-msgs, ros-kinetic-spencer-tracking-msgs
Description: Standalone tool and supplementary RViz plugin for annotating person tracks
